github "WenchaoD/FSCalendar"
github "yaroslav-zhurakovskiy/PainlessInjection" "master"
github "forkingdog/UITableView-FDTemplateLayoutCell"
github "ChiliLabs/CHIPageControl"
github "hackiftekhar/IQKeyboardManager"
github "alickbass/CodableFirebase"
github "Babylonpartners/DrawerKit"
github "IcaliaLabs/Presentr"
github "CaliCastle/PopMenu"
github "raulriera/TextFieldEffects"
github "yannickl/DynamicButton" >= 6.1.0
github "Quick/Nimble"
github "Quick/Quick"
github "ra1028/DifferenceKit" >= 1.1.0
github "facebook/pop"
github "michaeltyson/TPKeyboardAvoiding"
binary "https://building42.github.io/Specs/Carthage/iOS/Fabric.json"
binary "https://building42.github.io/Specs/Carthage/iOS/Answers.json"
binary "https://building42.github.io/Specs/Carthage/iOS/Crashlytics.json"
